doctype html
head
  meta(charset='UTF-8')
  title Car form
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/css/tether.min.css')
  link(rel='stylesheet' href='/mycss/home.css')
  link(rel='stylesheet' href='/css/lib/bootstrap/css/bootstrap.css')
// partial:index.partial.html
#wrapper
  .overlay
  // Sidebar
  nav#sidebar-wrapper.navbar.navbar-inverse.fixed-top(role='navigation')
    ul.nav.sidebar-nav
      .sidebar-header
        .sidebar-brand
          h4(style='color: antiquewhite;') Dockvile Parking
      li
        a(href='home') Dashboard
      li
        a(href='revenue') Revenue
      li
        a(href='events') Events
      li
        a(href='team') Team
      li.dropdown
        a.dropdown-toggle(href='#works' data-toggle='dropdown')
          | Services
          span.caret
        ul.dropdown-menu.animated.fadeInLeft(role='menu')
          .dropdown-header Services Offered
          li
            a(href='parking') Parking
          li
            a(href='tablest') Tire Clinic
          li
            a(href='renting') Renting Batteries
      li
        a(href='settings') Settings
      li
        a(href='email') Email
  // /#sidebar-wrapper
  // Page Content
  #page-content-wrapper
    button.hamburger.animated.fadeInLeft.is-closed(type='button' data-toggle='offcanvas')
      span.hamb-top
      span.hamb-middle
      span.hamb-bottom
// /#wrapper
// partial
// car form
div(style='background-color: rgb(240, 248, 255, 0.6); position:absolute; height: 900px; width: 752px; top: 60%; left: 50%; opacity:80%;transform: translate(-50%, -50%);')
  div(style='position: relative; width: 703px; height: 674px; left: 20px; top: 20px;')
    form(name='registration' method='POST' action='/api/car/edit?id='+car._id onsubmit='return validate(event);')
      .row.g-3
        .col(style='text-align: center;')
          h1 Car Form
      .row.g-3
        .col
          input.form-control(type='text' placeholder='First name' aria-label='First name' name='firstname' value=car.firstname)
          span#firstname-error
        .col
          input.form-control(type='text' placeholder='Last name' aria-label='Last name' name='lastname' value=car.lastname)
          span#lastname-error
        .col
          .col-auto
            label.visually-hidden(for='autoSizingSelect') Gender
            select#autoSizingSelect.form-select(itemid='gender' name='gender' value=car.gender)
              option(selected='') Gender
              option(value='Male' name='gender' selected=car.gender === 'Male' ) Male
              option(value='Female' name='gender' selected=car.gender === 'Female') Female
            span#gender-error
      br
      .row.g-3
        .col
          input#number-plate.form-control(type='text' placeholder='Number plate' aria-label='Number plate' name='numberplate' value=car.numberplate)
          span#number-plate-error
        .col
          input#color.form-control(type='text' placeholder='Color' aria-label='Color' name='color' value=car.color)
          span#color-error
      br
      .row.g-3
        .col
          label(for='') Arrival time
          input#arrival-time.form-control(type='time' placeholder='Arrival time' aria-label='Arrival time' name='arrivaltime' value=car.arrivaltime)
          span#arrival-time-error
        .col
          label(for='') Depature time
          input#depature-time.form-control(type='time' placeholder='Departure Time' aria-label='Departure time' name='departuretime' value=car.departuretime)
          span#departure-time-error
      br
      .row.g-3
        .col
          input#car-type.form-control(type='text' placeholder='Model' aria-label='Model' name='model' value=car.model)
          span#car-type-error
        .col
          input#date.form-control(type='date' placeholder='Date' aria-label='Date' name='date' value=car.date)
          span#date-error
        .col
          input.form-control(type='text' placeholder='contact' aria-label='contact' name='phone' value=car.phone)
          span#phone-error
      br
      .row.g-3
        .col
          .col-auto
            label.visually-hidden(for='autoSizingSelect') Period
            select#autoSizingSelect.form-select(name='period' value=car.period)
              option(selected='') Period
              option(value='Day' selected=car.period === 'Day') Day
              option(value='Night' selected=car.period === 'Night') Night
              option(value='Less than 3 hours' selected=car.period === 'Less than 3 hours') Less than 3 hours
        .col
          .col-auto
            label.visually-hidden(for='autoSizingSelect') Amount
            select#autoSizingSelect.form-select(name='amount' value=car.amount)
              option(selected='') Amount
              option(value='2000' selected=car.amount === '2000') 2000
              option(value='3000' selected=car.amount === '3000') 3000
        .col
          input.form-control(type='text' placeholder='NIN' aria-label='NIN' name='nin' value=car.nin)
          span#nin-error
      br
      .row.g-3
        .col
          input.form-control(type='number' placeholder='Identifier' aria-label='Identifier' min='1' max='200' name='number' value=car.number)
          span#number-error
      br
      .col(style='text-align: center;')
        h1 Other Services
        br
      .row.g-3
        .col
          h3 Car tyre clinic
          .form-check
            input#flexCheckDefault.form-check-input(type='checkbox' value='Tire Pressure' name='tireclinic[]' checked=car.tireclinic.includes('Tire Pressure'))
            label.form-check-label(for='flexCheckDefault')
              | tire pressure
            input(type='number' placeholder='500' aria-label='Identifier' name='tirepressure' value=car.tirepressure)
          .form-check
            input#flexCheckDefault.form-check-input(type='checkbox' value='Valves' name='tireclinic[]' checked=car.tireclinic.includes('Valves'))
            label.form-check-label(for='flexCheckDefault')
              | Valves
            input(type='number' placeholder='5000' aria-label='Identifier' name='valves' value=car.valves)
          .form-check
            input#flexCheckDefault.form-check-input(type='checkbox' value='Puncture Fixing' name='tireclinic[]' checked=car.tireclinic.includes('Puncture Fixing'))
            label.form-check-label(for='flexCheckDefault')
              | puncture fixing
            input(type='number' placeholder='5000' aria-label='Identifier' name='puncturefixing' value=car.puncturefixing)
        .col
          h3 Battery Section
          input#size.form-control(type='text' placeholder='Size' aria-label='Model' name='battery' value=car.battery )
          span#size-error
      br
      button.btn.btn-primary(type='submit') Submit
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js')
script(src='/script/script.js')
script(src='/css/lib/bootstrap/js/bootstrap.js')
script(src='/script/validate.js')
script(src='/script/pscript.js')
