doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/css/tether.min.css')
  link(rel='stylesheet' href='/mycss/parking.css')
  link(rel="stylesheet", href="/mycss/parkinglist.css")
  title events
// partial:index.partial.html
#wrapper
  .overlay
  // Sidebar
  nav#sidebar-wrapper.navbar.navbar-inverse.fixed-top(role='navigation')
    ul.nav.sidebar-nav
      .sidebar-header
        .sidebar-brand
          h4(style='color: antiquewhite;') Dockvile Parking
      li
        a(href='home') Dashboard
      li
        a(href='revenue') Revenue
      li
        a(href='events') Events
      li
        a(href='team') Team
      li.dropdown
        a.dropdown-toggle(href='#works' data-toggle='dropdown')
          | Services
          span.caret
        ul.dropdown-menu.animated.fadeInLeft(role='menu')
          .dropdown-header Services Offered
          li
            a(href='parking') Parking
          li
            a(href='tireclinic') Tire Clinic
          li
            a(href='rentingb') Renting Batteries
      li
        a(href='settings') Settings
      li
        a(href='email') Email
  // /#sidebar-wrapper
  // Page Content
  #page-content-wrapper
    button.hamburger.animated.fadeInLeft.is-closed(type='button' data-toggle='offcanvas')
      span.hamb-top
      span.hamb-middle
      span.hamb-bottom
div.search      
  form.d-flex(role='search')
    input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
    button.btn.btn-outline-success(type='submit') Search
h1.display-4.font-weight-bold Taxi Table
h2 Total amount: #{custotal}
h2 Total Number : #{taxicount}
div#table-container
  table.table.table-dark.table-striped.table-hover
    thead.table-dark
      tr
        th(scope='col') FirstName
        th(scope='col') Lastname
        th(scope='col') Gender 
        th(scope='col') NumberPlate
        th(scope='col') Color
        th(scope='col') Arrival time
        th(scope='col') Departure time 
        th(scope='col') Model 
        th(scope='col') Phone 
        th(scope='col') Date 
        th(scope='col') Period 
        th(scope='col') Amount 
        th(scope='col') NIN
        th(scope='col') Number
        th(scope='col') TireClinic 
        th(scope='col') Battery
        th(scope='col') Delete
        th(scope='col') Edit
    
    tbody
    if taxis.length 
      each taxi in taxis
        tr
          th #{taxi.firstname}
          td #{taxi.lastname}
          td #{taxi.gender}
          td #{taxi.numberplate}
          td #{taxi.color}
          td #{taxi.arrivaltime}
          td #{taxi.departuretime}
          td #{taxi.model}
          td #{taxi.phone}
          td #{taxi.date}
          td #{taxi.period}
          td #{taxi.amount}
          td #{taxi.nin}
          td #{taxi.number}
          td #{taxi.tireclinic}
          td #{taxi.battery}
          td 
            form(action='/api/taxi/delete' method='POST')
              input(type="hidden" name='id' value=taxi._id)
              button.btn.btn-danger(type="submit" onclick="confirmDelete(event)") Delete
          td  
            a.btn.btn-warning(href="/api/taxi/edit/"+taxi._id) Edit
    else 
      p there are no employees in the database     
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js')
script(src='/script/pscript.js')
script.
  function confirmDelete(event) {
    if (confirm("Are you sure you want to delete this employee?")) {
      // Proceed with form submission
    } else {
      event.preventDefault(); // Cancel form submission
    }
  }
